* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Montserrat", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
:root {
  --accent-color: #c09d81;
  --dark-color: #000;
  --gray-color: #373737;
  --white-color: #fff;
}
.container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

/* HEADER */

.header__nav-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid var(--white-color);
  background-color: rgba(0, 0, 0, 0.4);
}
.header__title {
  display: flex;
  justify-content: space-around;
}
.logo {
  display: block;
  text-align: center;
}
.logo-icon {
  width: 50px;
  height: 50px;
}
.logo-sign {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 6px;
}
.header__nav {
  width: 75%;
}
header ul {
  height: 70px;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  color: var(--white-color);
}
header ul li {
  height: 50px;
  font-size: 16px;
  letter-spacing: 0.15rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  padding: 17px 0;
  margin: auto;
}
header ul li:hover {
  color: var(--accent-color);
  border-bottom: var(--accent-color) solid 1px;
}

/* HERO */

.hero {
  height: 100vh;
  overflow: hidden;
  background-image: url(../img/first-screen-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__block {
  width: 750px;
  min-height: 300px;
  border: 6px solid var(--accent-color);
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  padding: 40px;
  margin-top: 180px;
  text-align: center;
}
.hero__block-link {
  color: var(--white-color);
  font-size: 22px;
  font-weight: bold;
}
.hero__block:after {
  content: "";
  display: block;
  width: 10%;
  height: 3px;
  background-color: var(--white-color);
  margin: 0 auto;
  margin-top: 20px;
}
.hero__block-title {
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 52px;
  margin-top: 35px;
}
.hero__block-descr {
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 22px;
  margin-top: 35px;
  font-weight: bold;
}

/* ABOUT */

.about {
  background-color: var(--gray-color);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
  padding: 150px 0 150px;
}
.about .info-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
}
.about .info-header__item {
  color: var(--accent-color);
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
}
.about .info-header__item:after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background-color: var(--accent-color);
  margin-top: 4px;
  transition: 0.4s;
}
.about .info-header__item:hover:after {
  width: 60%;
}
.about .info-tabcontent {
  width: 100%;
  display: flex;
  padding-top: 50px;
  transition: 0.3s;
}
.about .info-tabcontent .description,
.about .info-tabcontent .photo {
  width: 50%;
}
.about .info-tabcontent .description-title {
  font-size: 34px;
  color: var(--accent-color);
}
.about .info-tabcontent .description-title:after {
  content: "";
  display: block;
  width: 20%;
  height: 3px;
  background-color: var(--accent-color);
  margin-top: 4px;
}
.about .info-tabcontent .description-text {
  margin-top: 30px;
  color: var(--white-color);
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5rem;
  padding-right: 20px;
}
.about .info-tabcontent .description-btn {
  width: 180px;
  height: 45px;
  line-height: 43px;
  margin-top: 30px;
  border: 1px solid var(--accent-color);
  font-size: 14px;
  color: var(--accent-color);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-weight: 300;
  cursor: pointer;
}
.about .info-tabcontent .description-btn:hover {
  box-shadow: 0px 0px 5px var(--accent-color);
}
.about .info-tabcontent .photo {
  display: flex;
  align-items: center;
}
.about .info-tabcontent .photo img {
  width: 100%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
}
.about .hide {
  display: none;
}
.about .show {
  display: flex;
}

/* TIMER */

.timer {
  margin: 150px 0;
  text-align: center;
}
.timer-title {
  font-size: 36px;
  color: var(--gray-color);
}
.timer-action {
  font-size: 24px;
  color: var(--gray-color);
  margin-top: 40px;
}
.timer-numbers {
  margin-top: 40px;
  font-size: 90px;
  color: var(--accent-color);
}
.timer-numbers:after {
  content: "";
  display: block;
  width: 20%;
  height: 1px;
  background-color: var(--accent-color);
  margin: 0 auto;
  margin-top: 4px;
}

/* MORE BTN */

.more {
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  width: 250px;
  height: 60px;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  font-size: 18px;
  color: var(--accent-color);
  cursor: pointer;
}
.more:hover {
  box-shadow: 0 0 10px var(--accent-color);
}

/* PHOTO */

.slider {
  padding: 150px 0 150px;
  position: relative;
}
.slider-title {
  font-size: 32px;
  text-align: center;
  color: var(--accent-color);
}
.slider-title:after {
  content: "";
  display: block;
  margin: 7px auto 0 auto;
  width: 10%;
  height: 1px;
  background-color: var(--accent-color);
}
.slider .wrap {
  width: 100%;
  position: relative;
}
.slider .wrap .slider-item {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}
.slider .wrap .slider-item img {
  width: 100%;
}
.slider .wrap .prev {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 90px;
  left: 10%;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s;
  height: 100%;
}
.slider .wrap .prev:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.slider .wrap .prev:hover .arrow-left {
  opacity: 1;
}
.slider .wrap .prev .arrow-left {
  width: 30px;
  height: 30px;
  background: url(../icons/left-arrow.svg) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  opacity: 0.4;
  transition: 1s;
}
.slider .wrap .next {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 90px;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s;
  height: 100%;
  right: 10%;
}
.slider .wrap .next:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.slider .wrap .next:hover .arrow-right {
  opacity: 1;
}
.slider .wrap .next .arrow-right {
  width: 30px;
  height: 30px;
  background: url(../icons/right-arrow.svg) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  opacity: 0.4;
  transition: 1s;
}
.slider-dots {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.slider-dots .dot {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 10px;
  background-color: var(--accent-color);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.slider-dots .dot-active {
  background-color: var(--dark-color);
  height: 18px;
  width: 18px;
}

/* PRICE */

.counter {
  background-color: var(--gray-color);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
  padding: 150px 0 150px;
}
.counter-title {
  font-size: 32px;
  color: var(--accent-color);
}
.counter-title:after {
  content: "";
  display: block;
  width: 20%;
  height: 1px;
  background-color: var(--accent-color);
  margin-top: 4px;
}
.counter-block {
  margin-top: 40px;
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.counter-block-option {
  font-size: 22px;
  color: var(--accent-color);
}
.counter-block-input {
  display: block;
  width: 120px;
  height: 60px;
  padding: 10px;
  color: var(--accent-color);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--accent-color);
  font-size: 46px;
  text-align: center;
}
.counter-block select {
  width: 230px;
  height: 35px;
  padding-left: 10px;
  background-color: var(--accent-color);
  color: var(--white-color);
  border: none;
}
.counter-total {
  margin-top: 30px;
  padding-right: 50px;
  text-align: right;
  font-size: 38px;
  color: var(--accent-color);
}
.counter-total span {
  font-size: 46px;
}
.counter input[type="number"]::-webkit-inner-spin-button,
.counter input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.counter input[type="number"] {
  -moz-appearance: textfield;
}

/* CONTACTS */

.contact {
  margin: 0 auto;
  padding: 150px 0 150px;
}
.contact-content {
  display: flex;
}
.contact-img {
  width: 45%;
}
.contact-img img {
  width: 90%;
}
.contact-form {
  width: 50%;
  padding-left: 40px;
}
.contact-form-title {
  margin-top: 30px;
  color: var(--accent-color);
  font-size: 26px;
  font-weight: 300;
}
.contact-form-title:after {
  content: "";
  display: block;
  width: 20%;
  height: 1px;
  background-color: var(--accent-color);
  margin-top: 4px;
}
.contact-form form input {
  display: block;
  width: 60%;
  height: 40px;
  margin-top: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--gray-color);
  color: var(--gray-color);
}
.contact-form form button {
  margin-top: 60px;
  width: 150px;
  height: 40px;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  cursor: pointer;
}
.contact-form form button:hover {
  box-shadow: 0 0 10px var(--accent-color);
}

/* FOOTER */

footer {
  width: 100%;
  height: 250px;
  background-color: var(--gray-color);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
}
footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
footer .social .social-block {
  width: 70px;
  height: 70px;
  border: 1px solid var(--white-color);
  margin-right: 15px;
}
footer .social .social-block:hover {
  box-shadow: 0 0 10px var(--accent-color);
}
footer .social .social-block a img {
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 17px;
}

/* MODAL */

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}
.overlay .popup {
  position: fixed;
  z-index: 4;
  left: 50%;
  top: 150px;
  width: 752px;
  transform: translateX(-50%);
}
.overlay .popup-close {
  position: absolute;
  right: -20px;
  top: -35px;
  cursor: pointer;
  font-size: 35px;
  color: var(--white-color);
  font-weight: 300;
}
.overlay .popup-title {
  display: block;
  width: 100%;
  height: 71px;
  line-height: 71px;
  margin: 0;
  background-color: var(--accent-color);
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 500;
  text-align: center;
}
.overlay .popup-form {
  background: url(../img/modal.jpg) center no-repeat;
  background-size: cover;
  padding: 35px 88px 50px 88px;
  color: var(--accent-color);
}
.overlay .popup-form-header {
  padding: 0;
  font-weight: 400;
  line-height: 27px;
  font-size: 30px;
  text-align: center;
}
.overlay .popup-form__label {
  display: block;
  margin-top: 23px;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}
.overlay .popup-form__input {
  width: 365px;
  height: 56px;
  margin-top: 17px;
  font-size: 18px;
  background-color: var(--accent-color);
  border: none;
  color: var(--white-color);
  text-align: center;
}
.overlay .popup-form__btn {
  width: 180px;
  height: 56px;
  font-size: 15px;
  line-height: 22px;
  margin-left: 16px;
  background-color: transparent;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  cursor: pointer;
}
.overlay .popup-form__btn:hover {
  box-shadow: 0 0 10px var(--accent-color);
}
.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}
@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
.more-splash {
  animation-name: splash;
  animation-duration: 1.7s;
}
@keyframes splash {
  from {
    box-shadow: 0 0 10px var(--accent-color);
  }
  to {
    box-shadow: 0 0 60px var(--accent-color);
  }
}

/* MEDIA */

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .about {
    min-height: 324px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .about {
    min-height: 432px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .about {
    min-height: 558px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .about {
    min-height: 675px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .about {
    min-height: 787px;
  }
}
